<ion-header>
    <ion-toolbar>
      <ion-title> SICAE <ion-icon name="school"></ion-icon> </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title> Entrar </ion-card-title>
  </ion-card-header>
    <ion-card-content>
     <ion-item>
       <ion-label position="floating"> Registro Acadêmico: </ion-label>
         <ion-input type="text"></ion-input>
     </ion-item>

    <ion-item>
      <ion-label position="floating"> CPF: </ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>

<ion-button color="dark"> Entrar <ion-icon name="log-in"> </ion-icon></ion-button>
<ion-button color="dark" href="cadastro"> Cadastrar </ion-button>
</ion-card-content>
</ion-card>

<ion-card color="light">
<ion-card-content>
<ion-button color="dark"> Código do Admin </ion-button>
   <ion-item>
     <ion-label position="floating"> Código do Adm: </ion-label>
       <ion-input type="text"></ion-input>
   </ion-item>

<ion-button color="dark"> Entrar <ion-icon name="log-in"> </ion-icon></ion-button>

</ion-card-content>
</ion-card>
</ion-content>

<ion-footer>

</ion-footer>
